@import "../../styles/screens";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  .nav_logo {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5rem;

    div:last-child {
      padding-left: 15.5rem;
      padding-top: 1.3rem;
    }

    .r_logo {
      position: absolute;
      height: 100px;
      width: 350px;
    }
  }

  .navigations {
    display: flex;
    gap: 5rem;
    align-items: center;

    .nav_link {
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
    }
  }
}

@media (max-width: $lmd) {
  .navbar {
    .nav_logo {
      // gap: 2rem;

      div:last-child {
        padding-left: 9.7rem;
        padding-top: 0.5rem;
      }

      .r_logo {
        padding-top: 0.7rem;
        height: 100px;
        width: 160px;
      }
    }
    .navigations {
      gap: 2.5rem;

      .nav_link {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: $md) and (min-width: $sm) {
  .navbar {
    .nav_logo {
      // gap: 2rem;

      div:last-child {
        padding-left: 9.7rem;
        padding-top: 0.5rem;
      }

      .r_logo {
        padding-top: 0.7rem;
        height: 100px;
        width: 160px;
      }
    }
    .navigations {
      gap: 2.5rem;

      .nav_link {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
