@import "../../styles/colors";

.sidebar {
  background-color: $blue-400;
  width: 90%;
  position: relative;
  // top: 0;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .avatar {
      height: 80% !important;
      width: 80% !important;
      background-color: white;
      border-radius: 50%;
      border: 3px solid $blue !important;
    }
  }

  .navs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .exit {
      bottom: 2rem;
      margin-top: 8rem;
    }
  
    .nav_links {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
