@import "../../styles/colors";

.card {
  width: 75%;
  height: auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 10.6876px 18.7033px rgba(0, 0, 0, 0.1);
}

.border {
  border: 2.67191px solid #d1a33b;
}

.border2 {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
}

.backgrounsd {
  background-image: url("../../assests/png/dust.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 60px 10px;
}

.no-radius {
  border-radius: 0px;
}

.fullWidth {
  width: auto;
}
