@import "../../styles/colors";

.card {
  width: 75%;
  height: auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 10.6876px 18.7033px rgba(0, 0, 0, 0.1);
}

.border {
  border: 2.67191px solid #d1a33b;
}

.row {
  display: flex;
}
