@import "../../styles/screens";
@import "../../styles/colors";

.button {
  text-transform: uppercase;
  // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  border: none;
  border-style: none;
  outline: none;
  border-radius: 1.5px;
  font-weight: 600;
  width: fit-content;

  &:disabled {
    text-decoration: line-through;
    background-color: #e5e5e5;
    color: #b0b0b0;
    cursor: not-allowed;
  }
}

.full_width_btn {
  width: 90%;
}

.sm {
  padding: 0.7rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.lg {
  padding: 1.4rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
}

.md {
  padding: 0.55rem 1.8rem;
  border-radius: 5px;
  font-size: 0.8rem;

  @media (max-width: $md) and (min-width: $sm) {
    font-size: 0.6rem;
    padding: 0.55rem 1.4rem;
  }
}

.outline-btn-gold {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  font-weight: 400;
}

.outline-btn-blue {
  background-color: transparent;
  border: 0.8px solid $blue;
  color: $blue;
  font-weight: 400;
}

.outline-btn-white {
  background-color: transparent;
  border: 0.8px solid $white;
  color: $white;
  font-weight: 400;
}

.outline-btn-red {
  background-color: transparent;
  font-weight: 400;
  //   border: 0.8px solid $plain-red;
  //   color: $plain-red;
}

.outline-btn-grey {
  background-color: transparent;
  font-weight: 400;
  //   border: 0.8px solid $white-border;
  //   color: $white-border;
}

.filled-btn-gold {
  background-color: $blue;
  color: $white;
  font-weight: 400;
}

.filled-btn-blue {
  background-color: $blue;
  color: $white;
  font-weight: 400;
}

.filled-btn-blue2 {
  background-color: $blue2;
  color: $white;
  font-weight: 400;
}

.filled-btn-skyblue {
  background-color: $skyblue;
  color: $black;
  font-weight: 400;
}

.filled-btn-grey {
  //   background-color: $white-border;
  //   color: $black;
}

.btn_children {
  display: flex;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}
.shadows {
  box-shadow: 0px 10.6876px 18.7033px rgba(0, 0, 0, 0.1);
}

@media (max-width: $md) and (min-width: $sm) {
  .lg {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}
