@import "../../styles/colors";
@import "../../styles/screens";

.chat_head {
  width: 100%;
  background-color: $white;
  // height: 13vh;
  height: auto;
  padding: 1.5rem 2rem;
  padding-bottom: 0px;

  .tabs {
    @media (max-width: $md) and (min-width: $sm) {
      font-size: 0.375rem;
      // line-height: 1rem;
    }
    .tab {
      @media (max-width: $md) and (min-width: $sm) {
        font-size: 0.575rem;
        // line-height: 1rem;
      }
    }
  }

  .room_details {
    display: flex;
    gap: 0.5rem;
  }
}
