@import "../../styles/colors";

.body {
  display: flex;

  .aside {
    width: 30%;
    padding: 2rem;
    background-color: $white;

    .notificationBar {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0rem;

      .update {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      .write {
        justify-self: flex-end;
      }
    }

    .chats {
      height: 75vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .left {
    width: 70%;

    .left_body {
      height: 85vh;
      background-color: $smoke;
      padding: 2rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow-x: scroll;

      .message {
        display: flex;
        padding: 1rem;
        align-items: center;

        .message_left {
          width: 50%;
          color: black;
          ul {
            padding-left: 15px;
            margin-top: 0px;
          }

          .message_button {
            display: flex;
            gap: 1rem;
          }

          .message_head {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }

        .message_right {
          width: 50%;
          padding-left: 4rem;
        }
      }

      .sponsored {
        padding: 0.5rem 2rem;
        padding-bottom: 1.5rem;

        .sponsored_body {
          display: flex;
          //   gap: 3rem;

          .sponsored_img {
            width: 35%;
          }

          .sponsored_text {
            width: 75%;
            margin-right: 5rem;
            .sponsored_bottom {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sponsored_reaction {
                display: flex;
                width: 50%;
                justify-content: space-between;
              }
            }
          }
        }
      }

      .bot {
        margin-left: 2.5rem;
        .bot_texts {
          padding: 0.5rem 0rem;

          .bot_actions {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
  }
}

.chatGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
