@import "../../styles/colors";
@import "../../styles/screens";

.chatBar {
  display: flex;
  width: 100%;
  border: 1px solid $border-line;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  padding-left: 1rem;

  @media (max-width: $md) and (min-width: $sm) {
    padding: 0.5rem 0.5rem;
  }

  .time {
    align-self: flex-start;
  }
}
