@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/screens";

.p {
  font-size: 0.875rem;
  line-height: 1.2rem;
  text-align: center;
}

.p-sm {
  font-size: 0.75rem;
  line-height: 1.188rem;
  text-align: center;
}

.h1 {
  font-size: 2.25rem;
  line-height: 2.723rem;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  line-height: 3.723rem;
  text-align: center;
}

.h3 {
  font-size: 1.5rem;
  line-height: 1.813rem;
  text-align: center;
}

.h4 {
  font-size: 1.25rem;
  line-height: 1rem;
  text-align: center;
}

.h5 {
  font-size: 1rem;
  line-height: 1.313rem;
  text-align: center;
}

.sub-heading {
  font-size: 0.875rem;
  line-height: 1.195rem;
  text-align: center;
}

.normal {
  font-weight: normal;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.inherit {
  text-align: inherit;
}

.absolute {
  position: absolute;
  right: 0;
  top: -1rem;
}

.relative {
  position: relative;
}
.black {
  color: #484644;
}
.white {
  color: $white;
}
.blue {
  color: $blue;
}
.blue2 {
  color: $blue2;
}

.red {
  color: red;
}

.no-margin {
  margin: 0 !important;
}

@media (max-width: $md) and (min-width: $sm) {
  .h4 {
    font-size: 1rem;
  }
}
