@import "./colors";
@import "./screens";

.container {
  height: 130vh;
  background: url("../assests/svg/bgpattern.png");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;

  @media (max-width: $lmd) {
    height: 138vh;
  }

  .main {
    height: 100%;
    width: 100%;
    position: relative;

    .landing_page {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 2rem 4.5rem;
      z-index: 1000000;

      .navbar {
      }

      .body {
        position: relative;
        width: 1200px;
        height: 800px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .body_card {
          width: 75%;
          height: 770px;
          background-color: $smoke;
          position: absolute;
          // opacity: 0.84;
          border-radius: 30px;
          right: 40px;
          top: 90px;
          padding-top: 2.5rem;

          .body_content {
            padding: 2rem 2rem;
            z-index: 100000;
            width: 645px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // padding-left: 2rem;

            .large_text {
              font-weight: 700;
              margin: 2rem 0rem;
            }

            .banner_lg_text_1 {
              color: $black;
              font-size: 4.313rem;
              line-height: 1rem;
            }

            .banner_lg_text_2 {
              color: $blue-400;
              font-size: 4rem;
              line-height: 1rem;
            }

            .country {
              font-size: 3rem;
              color: $black;
              margin: 0rem 0;
            }

            .banner_aside {
              width: 565px;

              .reprezent {
                color: $blue-400;
                font-weight: bold;
                font-size: 2.813rem;
                margin: 0rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .me {
                  color: $blue;
                }
                .hr {
                  width: 260px;
                  height: 3px;
                  background-color: $blue-400;
                }
              }

              .banner_text {
                font-size: 1.125rem;
                color: $black;
              }

              .banner_footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                  display: flex;
                  flex-direction: column;
                  gap: 0rem;

                  .download {
                    color: $black;
                    font-size: 1.5rem;
                    font-weight: normal;

                    b {
                      color: $blue-400;
                    }
                  }

                  .donwload_btn {
                    width: 15.575rem;
                    height: 4.529rem;
                    box-shadow: 1.49545px 0px 14.9545px rgba(0, 0, 0, 0.25);
                    margin-bottom: 1rem;
                  }

                  .download_google {
                    background-color: $white;
                    border-radius: 4px;
                  }
                  .download_apple {
                    background-color: $blue;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
        }

        .phone_img {
          position: absolute;
          left: 70px;
          top: 20px;
          // height: 400px;
          // width: 400px;
        }
      }
    }
  }
}

@media (max-width: $md) and (min-width: $sm) {
  .container {
    .main {
      height: 100%;
      width: 100%;

      .landing_page {
        .body {
          width: 100%;
          height: 700px;

          .body_card {
            width: 60%;
            height: 740px;
            right: 110px;
            top: 90px;
            padding-top: 2.5rem;

            .body_content {
              padding: 2rem 2rem;
              width: 645px;
              margin: auto;
              align-items: flex-start;

              .large_text {
                font-weight: 700;
                margin: 1.5rem 0rem;
              }

              .banner_lg_text_1 {
                font-size: 4rem;
                line-height: 0.8rem;
              }

              .banner_lg_text_2 {
                font-size: 3.65rem;
                line-height: 0.8rem;
              }

              .country {
                font-size: 2.7rem;
                margin: 0rem 0;
              }

              .banner_aside {
                width: 565px;

                .reprezent {
                  font-size: 2.813rem;
                  margin: 0rem;
                  justify-content: flex-start;

                  .hr {
                    width: 190px;
                    height: 3px;
                    margin-left: 1rem;
                  }
                }

                .banner_text {
                  font-size: 1.125rem;
                }

                .banner_footer {
                  width: 90%;
                  justify-content: space-between;

                  .left {
                    gap: 0rem;

                    .download {
                      color: $black;
                      font-size: 1.5rem;
                      font-weight: normal;
                    }

                    .donwload_btn {
                      width: 15.575rem;
                      height: 4.529rem;
                      box-shadow: 1.49545px 0px 14.9545px rgba(0, 0, 0, 0.25);
                      margin-bottom: 1rem;
                    }
                  }
                }
              }
            }
          }

          .phone_img {
            position: absolute;
            left: 120px;
            top: 20px;
            height: 200px !important;
            width: 280px !important;
          }
        }
      }
    }
  }
}

@media (max-width: $xm) and (min-width: $sm) {
  .container {
    height: 135vh;
    .main {
      .landing_page {
        .body {
          width: 100%;
          height: 700px;

          .body_card {
            width: 70%;
            height: 590px;
            right: 20px;
            top: 70px;
            padding-top: 0.5rem;

            .body_content {
              padding: 2rem 2rem;
              width: 580px;

              .large_text {
                font-weight: 700;
                margin: 1.5rem 0rem;
              }

              .banner_lg_text_1 {
                font-size: 3.7rem;
                line-height: 0.8rem;
              }

              .banner_lg_text_2 {
                font-size: 3.35rem;
                line-height: 0.8rem;
              }

              .country {
                font-size: 2.5rem;
                margin: 0rem 0;
              }

              .banner_aside {
                width: 555px;

                .reprezent {
                  font-size: 2rem;
                  margin: 0rem;

                  .hr {
                    width: 210px;
                    height: 3px;
                    margin-left: 1rem;
                  }
                }

                .banner_text {
                  font-size: 1rem;
                  width: 83%;
                }

                .banner_footer {
                  width: 80%;
                  justify-content: space-between;

                  .right {
                    width: 160px !important;
                    height: 100% !important;
                  }

                  .left {
                    gap: 0rem;

                    .download {
                      font-size: 1rem;
                    }

                    .donwload_btn {
                      width: 15.575rem;
                      height: 4rem;
                      margin-bottom: 1rem;
                    }
                  }
                }
              }
            }
          }

          .phone_img {
            left: 100px;
            top: 20px;
            height: 200px !important;
            width: 220px !important;
          }
        }
      }
    }
  }
}
