@import "./colors";

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: url("../assests/png/bg-image.png"), #ecf8ff;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center ;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

        .cardLeft {
            background: #012160;
            background-size: cover;
            padding: 1rem;
            width:40%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            gap: 4rem;

            .cardlmid {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 3rem;
                text-align: center;

            }

            .leftcardbottom {
                width: 80%;
                display: flex;
                margin-top: 90px;
                justify-content: flex-end;


                .arrowleft {
                    width: 10px;
                }
            }
        }

        .cardRight {
            padding: 1rem;
            width: 60%;

            .inputs {
                width: 70%;
                margin: 25px auto 0px auto;
                display: flex;
                flex-direction: column;

                .inputbox {
                    margin-top: 10px;
                    width: 100%;
                    height: 50px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding: 10px 20px;
                    outline: none;
                }
            }
        }
    }
}